@font-face {
  font-family: tahrirFont;
  src: url("./Far_MashinTahrir.ttf");
}

@font-face {
  font-family: tahrirFontBold;
  src: url("./Far_MashinTahrir.ttf");
  font-weight: bold;
}

@font-face {
  font-family: hilan;
  src: url("./DigiـHilan.ttf");
}
