@import "../constants/mixins";
@import "../constants/spaces";

/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
  --minRangeValue: 280px;
  --black: #1a1a1a;
  --brown: brown;
  --white: #fff;
  --gray: #ccc;
  --darkgreen: #18846c;
  --lightbrown: antiquewhite;
  --darkblack: rgba(0, 0, 0, 0.8);
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
}

.container {
  max-width: 1030px;
  margin: $huge auto;
  padding: 0 $huge;

  @include xl {
    padding: 0;
  }
}

.d-none {
  display: none;
}

/* IMAGE LIST
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.image-list {
  margin: $xHuge 0;
}

.image-list li {
  cursor: pointer;
  border-image: url("../images/stamp-border.png") 8 round;
  border-width: 8px;
  border-style: solid;
  filter: drop-shadow(0 0 3px #3b2902);

  .gallery-item__link {
    text-decoration: none;
  }

  figure {
    background: var(--brown);
    color: var(--white);
    height: 100%;
  }

  &:hover {
    filter: drop-shadow(1px 1px 3px #3b2902);
  }
}

.image-list p:first-child {
  font-family: tahrirFontBold;
  font-size: 28px;
}

.image-list p:last-child {
  margin-top: $xSmall;
  font-size: 20px;
}

/* GRID VIEW
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid-view {
  display: grid;
  grid-gap: 2rem;
  @include sm {
    grid-template-columns: repeat(auto-fit, minmax(var(--minRangeValue), 1fr));
  }

  li {
    text-align: center;
    @include md {
      max-width: 456px;
      text-align: unset;
    }
  }
}

.grid-view figcaption {
  padding: $small;
}

/* LIST VIEW
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.list-view li + li {
  margin-top: $xLarge;
}

.list-view figure {
  display: grid;
  grid-gap: $xLarge;
  grid-template-columns: 150px 1fr;
  align-items: center;
}
