@font-face {
  font-family: tahrirFont;
  src: url("./Far_MashinTahrir.ttf");
}

@font-face {
  font-family: myFirstFont;
  src: url("./Far_MashinTahrir.ttf");
  font-weight: bold;
}

.header__wrapper {
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 40px;
    filter: saturate(0.5);

    @media screen and (min-width: 900px) {
      flex-direction: row;
      margin-bottom: 80px;
    }

    .header {
      color: #375195;
      text-align: center;
      @media screen and (min-width: 900px) {
        text-align: end;
      }
      .header__text {
        font-family: tahrirFont;
        font-size: 48px;
      }
    }
  }

  .header__separator {
    margin: auto;
  }
}
