@import "./constants/mixins";
@import "./constants/spaces";

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar .search-wrapper {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.toolbar input[type="search"] {
  font-size: 26px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid;
  padding: $xxSmall;
  background: transparent;
  text-indent: $xxSmall;
  max-width: 100%;
  width: 100%;
  @include sm {
    width: unset;
  }
  &::placeholder {
    color: black;
    opacity: 0.5;
  }
}

.toolbar input[type="range"] {
  display: none;

  @include lg {
    display: unset;
  }
}

.toolbar ::placeholder {
  color: var(--gray);
}

.toolbar .counter {
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  font-size: 0.9rem;
  color: var(--gray);
}

.view-options {
  display: none;
  @include md {
    display: flex;
    align-items: center;
  }
}

.view-options li:not(:last-child) {
  margin-right: $large;
}

.view-options button {
  padding: $tiny;
  border: 3px solid transparent;
}

.view-options .active button {
  border-color: var(--darkgreen);
}
